@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Sección de modificaciones a la Navbar:  */
nav {
    background-color: #3490dc;
  }
  
  nav a {
    color: #fff;
    hover: text-blue-200;
  }

/* Sección de modificaciones al header:  */
  header {
    position: relative;
  }
  
  header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }



/* Creación de animaciones de viewport:  */
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
  
    to {
      opacity: 1;
      scale: 100%;
    }
  }